<form class="contenedor">
  <div class="itemEspacio">
  </div>
  <div class="imagen">
    <img src="assets/images/archivo-form.png" alt="acceso" class="imgAcceso">
  </div>
  <mat-form-field class="email">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field class="descripReport">
    <mat-label>Descripcion Reporte</mat-label>
    <textarea matInput rows="5"></textarea>
  </mat-form-field>
  <mat-form-field class="tipoReport">
    <mat-label>Tipo Reporte</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="botones">
    <div>
      <button mat-raised-button  class="button-crear">Crear</button>
    </div>
    <div>
      <button mat-raised-button  class="button-cancelar">Cancelar</button>
    </div>
  </div>

</form>

