<form class="contenedor">
  <div class="itemEspacio">
  </div>
  <div class="imagen">
    <img src="assets/images/acceso-sidenav.png" alt="acceso" class="imgAcceso">
  </div>
  <mat-form-field class="email">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field class="password">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña">
  </mat-form-field>
  <div>
    <button mat-raised-button  class="button-login">Login</button>
  </div>
  <div class="perdiste-contra">
    <p>Perdiste tu contraseña?</p>
  </div>
  <div class="registro">
    <p>No tienes cuenta? Registrate</p>
  </div>
</form>

