<div class="contenedorPadre">
  <div class="itemSepracion"></div>
  <div class="contenedorHijo">
    <div class="subContenedorPri">
      <p class="titulos">{{tituloActivos}} Activos</p>
      <div class="contUsuarios">
        <div *ngFor="let usuario of listaUsuarios" class="usuarios">
          <span *ngIf="tituloActivos == 'Admins'" class="correo">{{usuario.nombre}}</span>
          <span *ngIf="tituloActivos == 'Usuarios'" class="correo">{{usuario.email}}</span>
          <input class="activo" type="radio" [checked]="usuario.actividad" disabled>
        </div>
      </div>
    </div>
    <div class="subContenedorSeg">
      <p class="titulos">Reportes Recientes</p>
      <div class="contReportes">
        <div *ngFor="let reporte of listaReportes" class="reportes">
          <span class="nombre">{{reporte.nombreReporte}}</span>
          <span class="fecha">{{String(reporte.fechaCreacion).replace("T", " ")}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
