<mat-sidenav-container>
  <mat-sidenav [(opened)]="abrir">
    <div class="contenedor">
      <div class="itemEspacio">
      </div>
      <div class="imagen">
        <img src="assets/images/acceso-sidenav.png" alt="acceso" class="imgAcceso">
      </div>
      <div class="inicio">
        <a mat-button routerLink="administrador">Inicio</a>
      </div>
      <div class="reportes">
        <a mat-button routerLink="reporte">Reportes</a>
      </div>
      <div class="crearAdmin">
        <a mat-button routerLink="registraradmin">Crear Admin</a>
      </div>
      <div class="itemEspacio">
      </div>
      <div class="salir">
        <a mat-button routerLink="">Salir</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="contenedorHijo">
      <div class="parteUno">
        <button mat-icon-button (click)="cambiarEstado()">
          <mat-icon class="menu">menu</mat-icon>
        </button>
      </div>
      <div class="parteDos">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
