<mat-sidenav-container>
  <mat-sidenav [(opened)]="abrir">
    <div class="contenedor">
      <div class="itemEspacio">
      </div>
      <div class="imagen">
        <img src="assets/images/acceso-sidenav.png" alt="acceso" class="imgAcceso">
      </div>
      <div class="inicio">
        <a mat-button>Inicio</a>
      </div>
      <div class="reportes">
        <a mat-button>Reportes</a>
      </div>
      <div class="crearAdmin">
        <a mat-button>Crear Admin</a>
      </div>
      <div class="itemEspacio">
      </div>
      <div class="salir">
        <a mat-button>Salir</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="cambiarEstado()">
      <mat-icon class="menu">menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
