<div class="contenedorPadre">
  <form class="filtros" [formGroup]="busquedaForm" (ngSubmit)="busqueda(busquedaForm.value)">
    <div class="buttonsFiltos">
      <button mat-raised-button class="codigoFil" (click)="cambiarTipoBus('text')">Codigo</button>
      <button mat-raised-button class="fechaFil" (click)="cambiarTipoBus('date')">Fecha</button>
    </div>
    <div class="busqueda">
      <button mat-raised-button class="buscar">Buscar</button>
      <input type="text"  class="inputBusqueda"  *ngIf="tipoBusqueda=='text'" formControlName="codigoReporte">
      <input type="datetime-local"  class="inputBusqueda"  *ngIf="tipoBusqueda=='date'" formControlName="fechaCreacion">
      <mat-icon class="iconBusqueda">search</mat-icon>
    </div>
  </form>
  <div class="contenedorHijo">
    <div class="itemSeparador"></div>
    <div class="subContenedorPri">
      <p class="titulos">Reportes</p>
      <div class="contReportes">
        <div *ngFor="let reporte of listaReportes" class="reportes" (click)="onViewInfoReport(reporte)">
          <span class="nombre">{{reporte.nombreReporte}}</span>
          <span class="fecha">{{String(reporte.fechaCreacion).replace("T", " ")}}</span>
        </div>
      </div>
    </div>
    <div class="subContenedorSec">
      <form class="contDetalle" [formGroup]="aereaForm">
        <mat-form-field class="descripReport">
          <label style="font-size: 22px"><strong>Reporte</strong></label>
          <textarea  matInput rows="15" formControlName="reporteF" readonly="true"></textarea>
        </mat-form-field>
        <div class="botones">
          <button mat-raised-button class="eliminar" (click)="onEliminar()" [disabled]="reporteF.invalid">Eliminar</button>
          <button mat-raised-button class="descargar" (click)="descargarArchivo()" [disabled]="reporteF.invalid"><a [href]="linkDescarga" [download]="nombreArchivo">Descargar</a></button>
          <button mat-raised-button class="confirmar" (click)="actualizarReporte(reporteActual.codigoReporte!)" [disabled]="reporteF.invalid">{{botonAdminUser}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
