<div class="contenedorPadre">
  <div class="filtros">
    <div class="buttonsFiltos">
      <button mat-raised-button class="codigoFil" (click)="cambiarTipoBus('text')">Codigo</button>
      <button mat-raised-button class="fechaFil" (click)="cambiarTipoBus('date')">Fecha</button>
    </div>
    <div class="busqueda">
      <button mat-raised-button class="buscar">Buscar</button>
      <input [type]="tipoBusqueda"  class="inputBusqueda">
      <mat-icon class="iconBusqueda">search</mat-icon>
    </div>
  </div>
  <div class="contenedorHijo">
    <div class="itemSeparador"></div>
    <div class="subContenedorPri">
      <p class="titulos">Reportes</p>
      <div class="contReportes">
        <div *ngFor="let reporte of listaReportes" class="reportes" (click)="onViewInfoReport(reporte)">
          <span class="nombre">{{reporte.nombreReporte}}</span>
          <span class="fecha">{{String(reporte.fechaCreacion).replace("T", " ")}}</span>
        </div>
      </div>
    </div>
    <div class="subContenedorSec">
      <form class="contDetalle">
        <mat-form-field class="descripReport">
          <mat-label>Descripcion Reporte</mat-label>
          <textarea matInput rows="15">{{contenidoDescripcion}}</textarea>
        </mat-form-field>
        <div class="botones">
          <button mat-raised-button class="descargar" (click)="descargarArchivo()"><a [href]="linkDescarga" [download]="nombreArchivo">Descargar</a></button>
          <button mat-raised-button class="confirmar">{{botonAdminUser}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
