<form class="contenedor" [formGroup]="registroForm" (ngSubmit)="onRegistro(registroForm.value)">
  <div class="itemEspacio">
  </div>
  <div class="imagen">
    <img src="assets/images/acceso-sidenav.png" alt="acceso" class="imgAcceso">
  </div>
  <mat-form-field class="email">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="email.errors?.['email'] && !email.errors?.['required']">Porfavor, ingresa un correo valido</mat-error>
    <mat-error *ngIf="email.errors?.['required']">El correo es <strong>requerido</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="nombres">
    <mat-label>Nombres</mat-label>
    <input matInput placeholder="Nombres" formControlName="nombre">
    <mat-error *ngIf="nombres.errors?.['required']">El nombre es <strong>requerido</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="apellidos">
    <mat-label>Apellidos</mat-label>
    <input matInput placeholder="Apellidos" formControlName="apellido">
    <mat-error *ngIf="apellidos.errors?.['required']">El apellido es <strong>requerido</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="password">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" placeholder="Contraseña" formControlName="password">
    <mat-error *ngIf="password.touched">La contraseña debe tener como minimo 8 caracteres</mat-error>
    <mat-error *ngIf="password.errors?.['required']">La contraseña es <strong>requerida</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="repeatPassword">
    <mat-label>Repetir Contraseña</mat-label>
    <input matInput type="password" placeholder="Repetir Contraseña" formControlName="repetirPassword">
    <mat-error *ngIf="password.touched">La contraseña debe tener como minimo 8 caracteres</mat-error>
  </mat-form-field>
  <div class="botones">
    <div>
      <button mat-raised-button  class="button-registrar" [disabled]="email.invalid || nombres.invalid || apellidos.invalid || password.invalid || repetirPassword.invalid">Registrar</button>
    </div>
    <div>
      <button mat-raised-button  class="button-cancelar" (click)="onClose()">Cancelar</button>
    </div>
  </div>
  <mat-error style="font-size: 15px;" *ngIf="errorStatus || errorPassword">{{errorMensaje}}</mat-error>

</form>

