<form class="contenedor">
  <div class="itemEspacio">
  </div>
  <div class="imagen">
    <img src="assets/images/acceso-sidenav.png" alt="acceso" class="imgAcceso">
  </div>
  <mat-form-field class="email">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field class="nombres">
    <mat-label>Nombres</mat-label>
    <input matInput placeholder="Nombres">
  </mat-form-field>
  <mat-form-field class="apellidos">
    <mat-label>Apellidos</mat-label>
    <input matInput placeholder="Apellidos">
  </mat-form-field>
  <mat-form-field class="password">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña">
  </mat-form-field>
  <mat-form-field class="repeatPassword">
    <mat-label>Repetir Contraseña</mat-label>
    <input matInput placeholder="Repetir Contraseña">
  </mat-form-field>
  <div class="botones">
    <div>
      <button mat-raised-button  class="button-registrar">Registrar</button>
    </div>
    <div>
      <button mat-raised-button  class="button-cancelar">Cancelar</button>
    </div>
  </div>

</form>

